<h1>Audit Log</h1>
<table>
    <tbody>
        <% @audit_events.each do |event| %>
          <tr>
            <td>
                At <%= event.created_at %> User <%= event.user_id %> changed column <%= event.column_name %> on table <%= event.table_name %> from &quot;<%= event.old_value %>&quot; to &quot;<%= event.new_value %>&quot;
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
